.container {
    display: flex;
    justify-content: space-between;
    height: 65px;
    width: 100vw;
    box-shadow: 0 0 5px gray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
  }
  
  .image {
    height: 58px;
    width: 100px;
  }
  
  .searchBox {
    display: flex;
    border: 1px solid #ccc;
    padding: 5px 11px;
    border-radius: 25px;
    background: lightgray;
    height: 40px;
    margin-top: 1%;
  }
  
  .searchBox img {
    margin-top: 5px;
    height: 17px;
    width: 15px;
  }
  
  .inputBox {
    width: 500px;
    border: 0;
    outline: 0;
    background: transparent;
  }
  
  .dropbtn {
    background-color: rgb(82, 147, 187);
    color: white;
    padding: 16px;
    height: 65px;
    font-size: 16px;
    width: 78px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px grey;
    min-height: 244px;
    width: 300px;
    z-index: 1;
  }
  
  .dropdownContent p {
    color: black;
    display: block;
    text-decoration: none;
    margin-left: 5px;
  }
  
  .dropdownContent p:hover {
    color: red;
    font-size: large;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(82, 173, 82);
  }
  
  .userName {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .logout {
    min-width: 280px;
    margin-top: 30px;
    height: 35px;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  
  .logout:hover {
    background-color: lightgray;
  }
  
  .websiteName {
    font-size: 13px !important;
    margin-left: 5px;
    color: gray !important;
    margin-left: 20px !important;
  }
  
  .websiteName:hover {
    color: black !important;
  }
  
  @media (max-width: 768px) {
    .inputBox {
      width: 180px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      height: 50px;
    }
  
    .image {
      height: 50px;
    }
  
    .searchBox {
      display: none;
    }
  
    .dropbtn {
      width: 60px;
      font-size: 12px;
      height: 50px;
    }
  
    .userName {
      font-size: 10px;
    }
  
    .userEmail {
      font-size: 10px;
    }
  
    .logout {
      min-width: 180px;
      height: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: smaller !important;
    }
  
    .dropdownContent {
      width: 200px;
      min-height: 190px;
    }
  
    .websiteName {
      font-size: 8px !important;
    }
  
    .dropdownContent p:hover {
      font-size: small;
    }
  
    .userEmail:hover {
      font-size: 12px !important;
    }
  }