* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  top: 65px;
  background-image: url('./../../../src/images/background.jpeg');
  height: 100%; 
  width: 100%;
}

.containerReset{
  position: relative;
  top: 65px;
  background-image: url('./../../../src/images/background.jpeg');
  height: 100vh;
  width: 100%;
}

.mainArea {
  display: flex;
}
