.container {
    height: 100vh !important;
    width: 75px;
    background-color: rgb(34, 37, 37);
    position: fixed;
  }
  
  .size {
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .mainPageDisplay{
    margin-left: 20px;
  }

  .mainPage{
    color: gray;
    font-size: 25px;
    margin-top: 25px;
  }
  
  .iconUploadNames {
    font-size: x-small;
    color: white;
  }

  .iconMainPage{
    font-size: x-small;
    color: white;
  }
  
  .iconAllVideoNames {
    font-size: x-small;
    color: white;
  }
  
  .iconFavVideoNames {
    font-size: x-small;
    color: white;
  }
  
  .uploadVideos {
    color: gray;
    font-size: 25px;
    margin-top: 25px;
  }
  
  .playVideos {
    color: gray;
    font-size: 30px;
  }
  
  .favVideos {
    color: gray;
    font-size: 22px;
    margin-left: 4px;
  }

  .showOnClick {
    font-size: 30px;
    margin-top: 25px;
    color: white;
  }

  .showOnClickAllVideos {
    font-size: 40px;
    color: white;
  }

  .showOnClickFavVideos {
    font-size: 30px;
    margin-left: 4px;
    color: white;
  }
  
  .container:hover {
    background-color: black;
  }
  
  .uploadVideos:hover {
    font-size: 30px;
    color: white;
  }
  
  .playVideos:hover {
    font-size: 40px;
    color: white;
  }
  
  .favVideos:hover {
    font-size: 30px;
    color: white;
  }

  .mainPage:hover{
    font-size: 30px;
    color: white;
  }





