.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 40px;
    color: white;
    box-shadow: 0 0 10px white;
    padding: 2px 5px; 
} 

.videoTitle{
    font-size: medium;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.uploadUserName{
    font-size: small;
    margin-bottom: 8px;
}

.divisionLineBoldDisplay{
    font-weight: bold;
}

.addToFavouriteVideo{
    padding: 5px 0;
    background-color: rgb(82, 173, 82);
    border-radius: 12px;
}

.addToFavouriteVideo:hover{
    background-color: rgb(43, 223, 43);
    box-shadow: 0 0 5px gray;
}

.RemoveFromFavouriteVideo{
    padding: 5px 0;
    background-color: rgb(241, 95, 95);
    border-radius: 12px;
}

.RemoveFromFavouriteVideo:hover{
    background-color: red;
    box-shadow: 0 0 5px gray;
}



